<!DOCTYPE html>
<html>
<head>
    <title>Family Cookbook - Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            color: black;
            background-image: url('/images/default-photo.jpg'); /* Set the background image path */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; /* Prevent background from scrolling */
        }
        .login-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Make the container fill the entire viewport */
        }
        .login-box {
            background-color: rgba(255, 255, 255, 1); /* Semi-transparent white background */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .error-message {
            color: red;
            margin-top: 10px;
        }
        label, input {
            margin: 5px 0;
        }
        button[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>
            <form action="/login" method="POST">
                <label for="username">Email:</label>
                <input type="text" id="email" name="email" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
